mixin panel-primary(className, titleName)
  .panel.panel-primary(class=className)
    .panel-heading
       h3=titleName
    .panel-body
        block

mixin panel-success(className, titleName)
  .panel.panel-success(class=className)
    .panel-heading
        h3=titleName
    .panel-body
        block
        
mixin panel-info(className, titleName)
  .panel.panel-info(class=className)
    .panel-heading
        h3=titleName
    .panel-body
        block
        
mixin panel-warning(className, titleName)
  .panel.panel-warning(class=className)
    .panel-heading
        h3=titleName
    .panel-body
        block

mixin panel-danger(className, titleName)
  .panel.panel-danger(class=className)
    .panel-heading
        h3=titleName
    .panel-body
        block
